* {
    margin: 0%;
}

.contenedor1 {
    background-color: rgb(82, 87, 91);
}

.t1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

nav .estar {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(68, 66, 77);
    width: fit-content;
    border-radius: 40px;
    height: 10px;
    color: white;
}

.estar {
    color: black;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

.t2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-left: 150px;
}

.t2 img {
    width: 500px;
}

.we {
    width: 550px;
    padding-bottom: 20px;
    padding-top: 60px;
}

.we h1 {
    font-size: 60px;
    color: white;
}

.we p {
    font-size: 20px;
    color: white;
}

.p2 p {
    font-size: 20px;
    color: rgb(131, 130, 130);
}

.p2 {
    width: 550px;
    padding-bottom: 70px;
}

.dos {
    padding-left: 120px;
}

.dos img {
    width: 20px;
}

.tres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

button {
    border: 1px solid rgb(46, 66, 179);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;

    color: white;
}

.tres a {
    color: white;
}

.imagenes img {
    width: 70px;
}

/* SEGUNDA PARTE */

.imagenes {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-bottom: 2px solid rgb(154, 153, 153);
    background-color: rgb(204, 201, 201);
}

.tres button {
    padding: 15px 25px;
    background-color: #007bff;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* TERCERA PARTE */

.cont3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img3{
    width: 400px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img3 p{
    text-align: center;
}