* {
    margin: 0%;
}

.contenedor1 {
    background-color: rgb(82, 87, 91);
}

.t1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

nav .estar {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(68, 66, 77);
    width: fit-content;
    border-radius: 40px;
    height: 10px;
    color: white;
}

.estar {
    color: black;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

.t2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-left: 150px;
}

.t2 img {
    width: 500px;
}

.we {
    width: 580px;
    padding-bottom: 20px;
    padding-top: 60px;
}

.we h1 {
    font-size: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.we p {
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p2 p {
    font-size: 20px;
    color: rgb(131, 130, 130);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p2 {
    width: 550px;
    padding-bottom: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.dos {
    padding-left: 120px;
}

.dos img {
    width: 20px;
}

.tres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.tres h4 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: 1px solid rgb(46, 66, 179);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.tres a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.imagenes img {
    width: 70px;
}

/* SEGUNDA PARTE */

.imagenes {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-bottom: 2px solid rgb(154, 153, 153);
    background-color: rgb(204, 201, 201);
}

.tres button {
    padding: 15px 25px;
    background-color: #007bff;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* TERCERA PARTE */

.cont3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 120px;
}

.img3 {
    width: 400px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img3 h2 {
    color: #727373;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.img3 img {
    padding-bottom: 30px;
}

.img3 p {
    text-align: center;
    color: rgb(177, 175, 175);
    padding-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.img3 a {
    padding: 15px 30px;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

/* CUARTA PARTE */

.imgtex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 65px;
    padding-bottom: 25px;
}

.imgtex h1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cuatro {
    display: flex;
    justify-content: space-evenly;
}

.cuatro img {
    width: 300px;

}

/* QUINTA PARTE */

.fro {
    display: flex;
    justify-content: space-between;
    width: 93%;
    padding-top: 100px;
    padding-left: 70px;

}

.pri,
.seg {
    width: 48%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.int,
.o {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.int img,
.o img {
    width: 25px;
}

.our {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.our img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.ou {
    display: flex;
    flex-direction: column;
}

.ou h2 {
    margin: 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ou p {
    margin: 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.tweet {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tweet p {
    margin: 0 0 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.date {
    font-size: 12px;
    color: gray;
}


.older,
.follow {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}

/* FOOTEERRR */

footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
    padding: 20px 0;
}

.footer-content {
    width: 100%;
    gap: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content p {
    margin: 0;
    color: #777;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity .3s;
}

.social-icons img:hover {
    opacity: 0.7;
}

@media (max-width:1279px) and (min-width:921px) {

    /* PRIMERA PARTE */

    .contenedor1 {
        width: 100%;
        /* Cambiado de 100px fijo para que se ajuste al contenedor */
        width: auto;
    }

    .t2 {
        display: flex;
        flex-wrap: wrap;
    }

    .t2 img {
        width: 200px;
    }

    .we {
        padding-top: 30px;
        width: 100px;
    }

    .we h1 {
        width: 300px;
        font-size: 25px;
    }

    .we p {
        width: 400px;
        font-size: 10px;
    }

    .p2 {
        padding-bottom: 10px;
    }

    .p2 p {
        width: 400px;
        font-size: 10px;
    }

    .dos img {
        width: 15px;
    }

    .tres button {
        width: 150px;
        font-size: 15px;
        height: 30px;
        padding: 1px 1px;
    }

    /* SEGUNDA PARTE */

    .imagenes {
        width: 100%;
    }

    .imagenes img {
        width: 50px;
    }

    /* TERCERA PARTEE */

    .cont3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .img3 {
        width: 200px;
        text-align: center;
    }

    .img3 h1 {
        font-size: 20px;
    }

    .img3 p {
        font-size: 15px;
    }

    .img3 img {
        width: 70px;
    }

    .img3 .rea {
        padding-top: 40px;
    }

    /* CUARTA PARTEE */

    .contsele {
        width: 100%;
    }

    .imgtex img {
        width: 20px;
    }

    .imgtex h1 {
        font-size: 20px;
    }

    .cuatro {
        width: 100%;
        padding-left: 20px;
    }

    .cuatro img {
        width: 200px;
    }

    /* QUINTA PARTE */

    .fro {
        width: 100%;
    }

    .pri {
        width: 400px;
    }

    .seg {
        width: 500px;
        padding-right: 85px;
    }

    /* FOOTER */

    .footer-content {
        width: 100%;
        gap: 500px;
    }
}

@media (max-width:920px) and (min-width:769px) {

    /* PRIMERA PARTE */

    .contenedor1 {
        width: 100%;
    }

    .t2 {
        display: flex;
        flex-wrap: wrap;
    }

    .t2 img {
        width: 180px;
    }

    .we {
        padding-top: 30px;
        width: 100px;

    }

    .we h1 {
        width: 250px;
        font-size: 20px;
    }

    .we p {
        width: 300px;
        font-size: 10px;
    }

    .p2 {
        padding-bottom: 30px;
    }

    .p2 p {
        width: 300px;
        font-size: 10px;
    }

    .dos img {
        width: 15px;
    }

    .tres button {
        width: 150px;
        font-size: 15px;
        height: 30px;
        padding: 1px 1px;
    }

    /* SEGUNDA PARTE */

    .imagenes {
        width: 100%;
    }

    .imagenes img {
        width: 50px;
    }

    /* TERCERA PARTEE */

    .cont3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .img3 {
        width: 200px;
        text-align: center;
    }

    .img3 h1 {
        font-size: 15px;
    }

    .img3 p {
        font-size: 10px;
    }

    .img3 img {
        width: 70px;
    }

    .img3 .rea {
        padding-top: 40px;
    }

    /* CUARTA PARTEE */

    .contsele {
        width: 100%;
    }

    .imgtex img {
        width: 15px;
    }

    .imgtex h1 {
        font-size: 10px;
    }

    .cuatro {
        width: 100%;
        padding-left: 20px;
    }

    .cuatro img {
        width: 200px;
    }

    .pri h1 {
        font-size: 1px;
    }

    .o h1 {
        font-size: 15px;
    }

    /* QUINTA PARTE */

    .fro {
        width: 100%;
    }

    .pri {
        width: 400px;
    }

    .seg {
        width: 500px;
        padding-right: 85px;
    }

    /* FOOTER */

    .footer-content {
        width: 100%;
        gap: 500px;
    }

    .tweet p {
        font-size: 15px;
    }

    .ou p {
        font-size: 15px;
    }

    .ou h2 {
        font-size: 20px;
    }

    .our img {
        width: 70px;
        height: 50px;
    }

    .pri h1 {
        font-size: 25px;
    }

    .int img {
        width: 20px;
    }

    .seg h1 {
        font-size: 25px;
    }
}

@media (max-width:768px) and (min-width:481px) {

    /* PRIMERA PARTE */

    .contenedor1 {
        width: 100%;
    }

    .t2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 90px;
        width: 100%;
    }

    .t2 img {
        width: 200px;
    }

    .we {
        padding-top: 30px;

        padding-top: 50px;
        width: 100px;

    }

    .we h1 {
        width: 250px;
        font-size: 25px;
    }

    .we p {
        width: 300px;
        font-size: 10px;
    }

    .p2 {
        padding-bottom: 30px;
    }

    .p2 p {
        width: 300px;
        font-size: 10px;
    }

    .dos img {
        width: 15px;
    }

    .tres button {
        width: 150px;
        font-size: 15px;
        height: 30px;
        padding: 1px 1px;
    }

    /* SEGUNDA PARTE */



    .imagenes img {
        width: 50px;
    }

    /* TERCERA PARTEE */

    .cont3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .img3 {
        width: 200px;
        text-align: center;
    }

    .img3 h1 {
        font-size: 15px;
    }

    .img3 p {
        font-size: 10px;
    }

    .img3 img {
        width: 50px;
    }

    .img3 .rea {
        padding-top: 40px;
    }

    /* CUARTA PARTEE */

    .contsele {
        width: 100%;
    }

    .imgtex img {
        width: 15px;
    }

    .imgtex h1 {
        font-size: 15px;
    }

    .cuatro {
        width: 100%;
        padding-left: 20px;
    }

    .cuatro img {
        width: 80px;
    }

    /* QUINTA PARTE */

    .fro {
        width: 100%;
    }

    .pri {
        width: 400px;
    }

    .seg {
        width: 500px;
        padding-right: 85px;
    }

    .tweet p {
        font-size: 10px;
    }

    .ou p {
        font-size: 8px;
    }

    .ou h2 {
        font-size: 10px;
    }

    .our img {
        width: 50px;
        height: 25px;
    }

    .pri h1 {
        font-size: 15px;
    }

    .int img {
        width: 10px;
    }

    .seg h1 {
        font-size: 15px;
    }

    .tweet {
        padding-bottom: 7px;
    }

    /* FOOTER */

    .footer-content {
        width: 100%;
        gap: 500px;
    }

    .tweet p {
        font-size: 15px;
    }

    .ou p {
        font-size: 15px;
    }

    .ou h2 {
        font-size: 20px;
    }

    .our img {
        width: 70px;
        height: 50px;
    }

    .pri h1 {
        font-size: 25px;
    }

    .int img {
        width: 20px;
    }

    .seg h1 {
        font-size: 25px;
    }

}

@media (max-width:480px) and (min-width:352px) {

    .t1 {
        width: 100%;
        padding-top: 20px;
    }

    .t1 img {
        width: 70px;
    }

    nav .estar {
        font-size: 10px;
        width: 20px;
        height: 0px;
    }

    nav a {
        font-size: 10px;
    }

    nav {
        gap: 15px;
    }

    /* PRIMERA PARTE */

    .contenedor1 {
        width: 100%;
    }

    .t2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
    }

    .t2 img {
        width: 100px;
    }

    .we {
        padding-top: 20px;
        width: 10px;
        padding-bottom: 5px;
    }

    .we h1 {
        width: 140px;
        font-size: 15px;
    }

    .we p {
        width: 140px;
        font-size: 5px;
    }

    .p2 {
        padding-bottom: 10px;
    }

    .p2 p {
        width: 140px;
        font-size: 5px;
    }

    .dos {
        width: 140px;
        padding-left: 30px;
    }

    .dos img {
        width: 15px;
    }

    .tres button {
        width: 50px;
        font-size: 5px;
        height: 10px;
        padding: 1px 1px;
    }

    .tres h4 {
        font-size: 5px;
    }

    .tres a {
        font-size: 5px;
    }

    .tres img {
        width: 7px;
    }

    /* SEGUNDA PARTE */

    .imagenes {
        padding: 10px;
    }

    .imagenes img {
        width: 20px;
    }

    /* TERCERA PARTEE */

    .cont3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    .img3 {
        padding-top: 30px;
        width: 100px;
        text-align: center;
    }

    .img3 a {
        padding: 1px 1px;
        font-size: 5px;
    }

    .img3 h2 {
        font-size: 10px;
    }

    .img3 p {
        font-size: 5px;
        padding-bottom: 10px;
    }

    .img3 img {
        width: 30px;
    }

    .img3 .rea {
        padding-top: -20px;
    }

    /* CUARTA PARTEE */

    .contsele {
        width: 100%;
    }

    .imgtex img {
        width: 7px;
    }

    .imgtex {
        padding-left: 18px;
    }

    .imgtex h1 {
        font-size: 10px;
        padding-top: 5px;
    }

    .cuatro {
        width: 100%;
        padding-left: 5px;
    }

    .cuatro img {
        width: 70px;
    }

    /* QUINTA PARTE */

    .fro {
        width: 100%;
        gap: 50px;
    }

    .pri {
        width: 200px;
    }

    .seg {
        width: 300px;
        padding-right: 50px;
    }

    .tweet p {
        font-size: 5px;
    }

    .ou p {
        font-size: 5px;
    }

    .ou h2 {
        font-size: 10px;
    }

    .our img {
        width: 70px;
        height: 50px;
    }

    .int h1 {
        font-size: 10px;
    }

    .int img {
        width: 8px;
    }

    .seg h1 {
        font-size: 10px;
    }

    /* FOOTER */

    .footer-content {
        width: 100%;
        gap: 500px;
    }

    .tweet p {
        font-size: 15px;
    }

    .ou p {
        font-size: 15px;
    }

    .ou h2 {
        font-size: 20px;
    }

    .our img {
        width: 70px;
        height: 50px;
    }

    .pri h1 {
        font-size: 25px;
    }

    .int img {
        width: 20px;
    }

    .seg h1 {
        font-size: 25px;
    }

}